body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
header button{
    position: absolute;
    top:7px;
    left: 7px;
    border: none;
    background: transparent;
}
#barconteneur{ 
    width: 0;
    height: 100vh;
    position: absolute;
    top:0px;
    left: 0px;
    transition: ease all 0.7s;
 
}
#bar{
    width: 0;
    height: 100%;
    transition: ease all 0.7s ;
    background-color: white;
    overflow: hidden;
    border-right: 1px solid rgb(32, 31, 31);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
#profile{
     display: flex;
    justify-content: center;
    align-items: center;
}
#profile img{
    height: 150px;
    width: 150px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 70px;
   
}
#bar ul li{
    display: flex;
    list-style-type: none;
    margin-left:30px ;
    padding:7px 0 ;
    padding-left: 10px;
    border-radius: 10px;
    transition:  background-color ease all 0.8s;
    align-content: center;
}
#bar a{
    text-decoration: none;
    transition:  background-color ease all 0.8s;
   
}
#bar li:active{
    background-color: white;
}
#bar hr{
    width: 87%;
}

ul img{
    height: 20px;
    width: 20px;
  margin-right: 20px;
}
#slidebtn img,#backslide img{
     height: 20px;
    width: 20px;
  margin-right: 20px;
}
main{
    height:100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.loginmenu{
    border: 2px solid black;
    border-radius: 20px;
    height: 300px;
    width: 200px;
    
    box-sizing: border-box;
}
.box{
    border-bottom:2px solid black ;
    margin-bottom: 10px;
    max-width:90% ;
    margin-left: 10px;
}
.box input{
    
    outline: none;
    border: none;
   
}
main button{
 border-radius: 15px;
 width: 90%;
 margin-top: 5px;
 padding: 5px;
 margin-top: 30px;
 cursor: pointer;
}
h2{
    text-align: center;
}
label{
    transition: ease all 0.3s;
}
 