body{
    height: 100%;
    width: 100%;
    margin: 0;
    background-color:rgb(47, 46, 46);
}

#searchconteneur{
   padding: 10px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: padding 0.25s ease, box-shadow 0.25s ease, transform 0.25s ease;

}
#searchbar{
   
    background-color:  rgb(78, 74, 74);
    width: 80%;
    padding: 5px;
    border-radius: 25px;
    transition: ease all 1.5s;
    box-shadow:5px 4px 15px rgb(0, 0, 0, 0.2);
}

input{
    height:30px ;
    width: 90%;
    border: none;
    outline: none;
    background: transparent;
    color: white;
}
h1{
    text-align: center;
    color: white;
}
.boxctn{
    display: flex;
    padding: 6px 0;
    background-color: rgb(78, 74, 74);
     margin: 5px 0 ;
     justify-content: center;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.box{
    height: 200px;
    width: 70%;
    box-shadow:1px 4px 15px rgb(0, 0, 0, 0.19);
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    background-color: rgb(19, 16, 16);
   
}
img{
    height:200px ;
    width:70% ;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    box-shadow:1px 6px 15px rgb(0, 0, 0, 0.18);
}
h3,h4{
    text-align: center;
    color: white;
    text-shadow:1px 4px 2px rgb(0, 0, 0,0.19 ) ;
}
#searchbar img{
    height: 20px;
    width: 20px;
   box-shadow: none;
}
.stickyprop{
    position: fixed;
    top: 0;
    left: 0;
    z-index: +3;
    box-shadow: 0 6px 25px rgb(0, 0, 0,0.19);
    transform: translateY(-3px);
}
.theme h3{
    position: fixed;
    top:0;
    right: 10px;
}
.theme input{
    height: 15px;
    width: auto;
   margin-bottom:5px ;
}
#themectn{
    position: fixed;
    right: 10px;
    top: 50px;
    background-color: rgb(78, 74, 74) ;
    padding: 15px;
    border-radius: 30px;
    display:none;
}


