body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#subctn{
    align-self: center;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 95%;
}
li{
    font-family:fantasy;
    list-style: none;
    border: 0.001px solid black;
    width: 100%;
    text-align: center;
    border-radius: 30px;
    padding: 10px 0;
    margin: 12px 0;
    box-shadow:1px 1px 2px rgb(0, 0, 0, 0.19),-1px -1px 2px rgb(0, 0, 0, 0.19);
      background-image: linear-gradient(to right,rgb(38, 6, 196),white,white);
    display: flex;
    justify-content: center;
}
h2{
    text-align: center;
    margin-top:50px;
    margin-bottom: 10px;
    font-family: Helvetica, sans-serif;
    
}
#loadingpage{
     display: none;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: +2;
    background: transparent;
     position:fixed;
  top: 0;
  left: 0;
 
}
.conteneur{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    border-radius: 15px;
    background-image: linear-gradient(to bottom right,magenta,cyan);
    
}

#spinner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border: 4px solid;
    border-color: white transparent;
    border-radius: 50%;
    animation: spin linear 0.6s infinite;

    
}
#counter{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
